# Build Klipper for STM32G0B1 (32KiB bootloader).

# See docs/Config_Reference.md for a description of parameters.

# This file edited by ECL 01-06-25

#Mainsail
[pause_resume]
[display_status]

#Include Files
[include mainsail.cfg]
[include macros/*.cfg]
#[include adxl345.cfg]
#[include timelapse.cfg]

#####################################################################
# 	XYZ Steppers
#####################################################################

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: ^PC0
position_min: 0
position_endstop: 291
position_max: 291
homing_speed: 50
homing_retract_dist: 5.0
homing_retract_speed: 30
second_homing_speed: 15

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.9
stealthchop_threshold: 0

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
rotation_distance: 64
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: ^PC1
position_min: -8
position_endstop: 280
position_max: 280
homing_speed: 50
homing_retract_dist: 5.0
homing_retract_speed: 30
second_homing_speed: 15

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 1.85
stealthchop_threshold: 0

[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
rotation_distance: 8
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: probe:z_virtual_endstop
position_min: -2
position_max: 305
homing_speed: 8
homing_retract_dist: 3.0
homing_retract_speed: 5.0
second_homing_speed: 2.0

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.780
stealthchop_threshold: 0

#####################################################################
# 	Bed Probing
#####################################################################

[probe]
pin: ^PC14
x_offset: 21
y_offset: 7.2
z_offset: 0.910
speed: 5

[safe_z_home]
home_xy_position: 124.5, 132.8
speed: 100
z_hop: 5
z_hop_speed: 5

[bed_mesh]
speed: 100
mesh_min: 43, 5
mesh_max: 291, 280
algorithm: bicubic
probe_count: 7, 7

#####################################################################
# 	Extruder
#####################################################################

[extruder]
step_pin: PB3
dir_pin: PB4
enable_pin: !PD1
rotation_distance: 22.6789511
microsteps: 16
full_steps_per_rotation: 200
gear_ratio: 50:17
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
min_temp: 1
max_temp: 300
max_power: 1.0
min_extrude_temp: 160
control: pid
pid_kp = 26.452
pid_ki = 1.346
pid_kd = 129.943
pressure_advance: 0.02
#   This value should be tuned for each filament type to optimize print quality.
#pressure_advance_smooth_time: 0.040
max_extrude_only_distance: 100.0

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.580
stealthchop_threshold: 0

[firmware_retraction]
retract_length: 0.9
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 35
#   The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 30
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
heater_pin: PC9
#sensor_type: Generic 3950
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
control: pid
pid_kp=29.287
pid_ki=0.233
pid_kd=919.255
#pid_Kp = 59.010
#pid_Ki = 0.696
#pid_Kd = 1250.285
min_temp: 0
max_temp: 130
max_power: 1.0
#check_gain_time: 80

#####################################################################
# 	Neopixel LEDs
#####################################################################

[neopixel toolhead_led]
pin: PA8
chain_count: 8
color_order: GRB
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0

#####################################################################
# 	Fan Controls
#####################################################################

#Hotend Fan
[heater_fan extruder_fan]
pin: PC7
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

#[controller_fan electronics]
#pin: PB15
#max_power: 1.0
#stepper: stepper_x, stepper_y, stepper_z, extruder
# idle_timeout: 60
# kick_start_time: 0.25

#Controller Fan
[heater_fan controller_fan]
pin: PB15

##Part Cooling Fan
[fan]
pin: PC6
max_power: 0.5
cycle_time: .08
kick_start_time: .25
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively

#####################################################################
# 	MCU
#####################################################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_390019001150415833323520-if00

#[mcu rpi]
#serial: /tmp/klipper_host_mcu

#[adxl345]
#cs_pin: rpi:None

#[resonance_tester]
#accel_chip: adxl345
#probe_points:
#    145, 140, 20  # an example

[input_shaper]
shaper_type_x = mzv
shaper_freq_x = 63.0
shaper_type_y = mzv
shaper_freq_y = 38.6

#####################################################################
# 	Printer Definitions
#####################################################################

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 5000
#   This is a relatively high acceleration value. If you experience skipped steps or
#   poor print quality, consider reducing this value.
square_corner_velocity: 5
max_z_velocity: 12
max_z_accel: 100

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

# Enable object exclusion
[exclude_object]

[gcode_arcs]
resolution: 1.0
#   An arc will be split into segments. Each segment's length will
#   equal the resolution in mm set above. Lower values will produce a
#   finer arc, but also more work for your machine. Arcs smaller than
#   the configured value will become straight lines. The default is
#   1mm.

[idle_timeout]
timeout: 600
#   Idle time (in seconds) to wait before running the above G-Code
#   commands. The default is 600 seconds.
#gcode:
#   A list of G-Code commands to execute on an idle timeout. See
#   docs/Command_Templates.md for G-Code format. The default is to run
#   "TURN_OFF_HEATERS" and "M84".
#  M104 S170
#  SET_STEPPER_ENABLE STEPPER=extruder ENABLE=0
#  SET_STEPPER_ENABLE STEPPER=stepper_x ENABLE=0
#  SET_STEPPER_ENABLE STEPPER=stepper_y ENABLE=0
#  SET_STEPPER_ENABLE STEPPER=stepper_z ENABLE=1 ; disable all motors but Z motors

#####################################################################
# 	Screen
#####################################################################

# Uses Klipperscreen - needs to be installed via kiauh (Klipper Installation And Update Helper)
#Step 1: SSH into the raspberry pi and install git by running this command:
#sudo apt-get update && sudo apt-get install git -y
#Step 2: Once git is installed, use the following command to download KIAUH into your home-directory:
#cd ~ && git clone https://github.com/dw-0/kiauh.git
#Step 3: Finally, start KIAUH by running the next command:
#./kiauh/kiauh.sh
#Step 4: You should now find yourself in the main menu of KIAUH.

#####################################################################
# 	Menu Additions
#####################################################################

#####################################################################
# 	AI Modules
#####################################################################

[ai_backend]
provider: claude
api_key: YOUR_ANTHROPIC_API_KEY_HERE
model: claude-sonnet-4-20250514
timeout: 30.0
rate_limit_rpm: 20

[ai_config_assistant]

# Camera - uses your existing /dev/video0 from crowsnest
# NOTE: crowsnest uses ustreamer which holds /dev/video0 exclusively.
# ai_camera captures via snapshot URL instead. See capture_command below.
[ai_camera]
camera_device: /dev/video0
capture_command: wget
snapshot_url: http://localhost:8080/?action=snapshot
resolution: 640x480
capture_dir: /tmp/ai_camera
check_interval: 60.0
failure_action: pause
confidence_threshold: 0.7
enable_first_layer_check: True
first_layer_check_delay: 120.0

[ai_calibration_wizard]

[ai_print_tests]

[ai_mesh_analysis]

[ai_filament_profiles]
profiles_file: ~/printer_data/config/filament_profiles.json

[ai_print_history]
history_file: ~/printer_data/config/print_history.json
max_entries: 500
auto_log: True

[ai_resonance]
csv_dir: /tmp

[ai_timelapse]
frames_dir: /tmp/timelapse
max_frames_to_analyze: 20

[ai_notifications]
#telegram_bot_token:
#telegram_chat_id:
#discord_webhook_url:
notify_on_failure: True
notify_on_completion: True
include_snapshot: True

[ai_print_recovery]
enabled: True
max_retries: 2
purge_amount: 30.0
z_hop: 5.0

#####################################################################
# 	Config Save
#####################################################################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 0.700
#*#
#*# [heater_bed]
#*# version = 1